[cmd]
< = "/buffer"
> = "/buffer"
aaway = "allserv /away"
ame = "allchan /me"
amsg = "allchan /msg *"
anick = "allserv /nick"
beep = "print -beep"
bye = "quit"
c = "buffer clear"
chat = "dcc chat"
cl = "buffer clear"
clear = "buffer clear"
close = "buffer close"
exit = "quit"
ig = "ignore"
j = "join"
k = "kick"
kb = "kickban"
leave = "part"
m = "msg"
msgbuf = "command -buffer $1 * /input send $2-"
mub = "unban *"
n = "names"
q = "query"
redraw = "window refresh"
say = "msg *"
signoff = "quit"
t = "topic"
ub = "unban"
umode = "mode $nick"
v = "command core version"
w = "buffer"
wc = "buffer close"
wi = "whois"
wii = "whois $1 $1"
ww = "whowas"
