[server_default]
nicks = "{{ nickname|default(username) }}"
ssl_priorities = "NORMAL"
username = "{{ username }}"

[server]
freenode.addresses = "chat.freenode.net/7000"
freenode.autoconnect = on
freenode.autojoin = "#urlab"
freenode.nicks = "{{ nickname|default(username) }},{{ nickname|default(username) }}_, {{ nickname|default(username) }}1"
freenode.realname = "{{ username }}"
freenode.ssl = on
freenode.username = "{{ username }}"
