[look]
buffer_notify_default = message
buffer_time_format = "%H:%M"
highlight = "{{ nickname|default(username) }},@channel,@here,@all,@urlab"
hotlist_count_min_msg = 4
hotlist_names_count = 10
hotlist_names_level = 14
hotlist_prefix = ""
hotlist_prefix = ""
prefix_align_max = 10

[color]
chat_delimiters = 29
chat_host = 24
chat_nick_colors = "red,green,brown,blue,magenta,cyan,white,lightred,lightgreen,yellow,lightblue,lightmagenta,lightcyan"
chat_prefix_suffix = 24
nicklist_away = 244
separator = 60

[bar]
isetbar.items = "isetbar_help"
status.items = "[time],[buffer_plugin],buffer_number+:+buffer_name+(buffer_modes),[lag],[hotlist],completion,scroll"

[filter]
irc_smart = on;*;irc_smart_filter;*

