server {

    listen 80;
    server_name irc.urlab.be;

    location / {
        root /usr/share/nginx/default_irc/;
        index index.html;
    }

    location /client {
        alias /usr/share/nginx/glowingbear/;
        index index.html;
    }

    location '/.well-known/acme-challenge' {
        default_type "text/plain";
        root /usr/share/nginx/acme_webroot/;
    }
}
